:root {
  --primary: #46a6ff;
  --warning: #ff9f15;
}

/* ======= GLOBAL ======= */

body {
  font-size: 18px;
  font-family: Montserrat;
}

a {
  transition: all .3s;
  color: #FFF;
}
a:hover {
  color: #FF9F15;
}

.main-container {
  display: flex;
}

.flip-card {
  width: 40%;
  height: 100%;
  -webkit-transform: translateZ( 0px);
  transform: translateZ( 0px);
  -webkit-transition: -webkit-transforn .7, margin .4s;
  transition: transforn .7, margin .4s;
  -webkit-transform-style: preserve-3d;
  transition: transform .7s, margin .4s;
  position: absolute;
}
.flip-card figure {
    width: 100%; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: absolute;
}

.flip-card .login-side {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.flip-card .otp-side {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.flip-card.flipped {
  -webkit-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.not-rotated {
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
}

.flip-card > * {
  transition: none !important;
}

.class-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.l-theme {
  display: flex;
  flex-direction: column;
  /* The image used */
  /* background-image: url("./assets/img/bg-main.jpg"); */

  /* Full height */
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.l-wrap {
  flex: 1 0 auto;
  position: relative;
}

#root,
.l-theme {
  min-height: 100vh;
}

.section-default {
  padding-bottom: 40px;
}
.ui-title {
  padding-top: 46px;
  font-size: 30px;
  margin-bottom: 6px;
}
.ui-info {margin-bottom: 18px;}

.img-scale {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Bootstrap customisation */

.btn {
  padding: 0.59rem 0.75rem;
  transition: all .3s;
  font-size: 18px;
}
.btn-check:focus+.btn:focus,
.btn:active,
.btn:focus {
  box-shadow: none !important;
}
.btn-group-sm>.btn,
.btn-sm {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 18px;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-light {
  background: #FFF;
}
.btn-light:hover {
  background: #c5daef;
}
.btn-warning {
  color: #FFF;
  background-color: var(--warning);
  border-color: var(--warning);
}
.btn-warning:hover {
  color: #FFF;
}
.btn-warning .ic {
  fill: #fff;
  display: inline-block;
}
.btn-round {
  border-radius: 24px;
}
.dropdown-toggle::after {
  width: 10px;
  height: 10px;
  transform: rotate(135deg) skew(2deg, 2deg);
  border-left: none;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-left: 9px;
  margin-bottom: 4px;
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-link {
  color: #FFF;
  background-color: #032B5D;
  border: none;
  margin-bottom: 0;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  text-transform: uppercase;
  background-color: var(--primary);
  color: #FFF;
}
.nav-link {
  padding: 5px 23px;
}

.modal {
  color: #000;
}
.modal-header {
  padding: 23px 25px;
  border-bottom: none;
}
.modal-title {
  font-size: 36px;
  font-weight: normal;
}
.modal-header .btn-close {
  margin-top: -50px;
}
.modal-body {
  padding: 40px 20px 94px;
}

.form-control {
  padding: 4px 20px;
  font-size: 14px;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.header-logo {
  font-size: 48px;
  font-weight: 500;
  display: flex;
  align-items: center;
  letter-spacing: .07em;
  transition: all .3s;
  text-decoration: none;
}
.header-logo:hover {
  text-decoration: none;
}
.header-logo__img {
  width: 56px;
  height: 54px;
  fill: white;
  margin-right: 15px;
}

.header-inner {
  background-color: #FFF;
  padding: 12px 0 16px;
}
.header-inner .header-logo {
  color: #000;
  font-size: 30px;
}
.header-inner .header-logo__img {
  fill: #46a6ff;
  margin-right: 7px;
}
.header-user__img {
  height: 38px;
  width: 38px;
}
.header-user__btn {
  padding: 4px 19px 4px 4px;
  display: flex;
  align-items: center;
}


/* Footer */

.footer {
    background-color: #056cdd;
    color: #fff;
    padding: 30px 0 20px;
}
.footer a {
    text-decoration: none;
}

.footer-links {
  margin-bottom: 0;
}
.footer-links a {
  margin-bottom: 9px;
  display: inline-block;
}


/* ======= COMPONENTS ======= */

.p-index {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-top: 88px;
  padding-bottom: 50px;
}

.b-main {
  font-weight: 500;
}
.b-main__title {
  font-size: 37px;
  margin-bottom: 21px;
}
.b-main__subtitle {
  font-size: 25px;
  line-height: 1.25;
  margin-bottom: 28px;
}
.b-main__info {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 44px;
}

.b-category {
  margin-right: -10px;
}
.b-category__list .btn {
  width: 150px;
  margin-right: 10px;
  margin-bottom: 12px;
}
.b-category__list .btn-long {
  width: 180px;
}
.b-category__list {}
.b-category__save {
  margin-top: 10vh;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 48px;
}
.b-category__save .ic {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  margin-left: -11px;
}

.b-library {
  margin-top: 35px;
}
.b-library__add {
  border: none;
  background-color: #056cdd;
  padding: 0;
  color: #fff;
  border-radius: 9px;
  height: 190px;
  transition: all .3s;
}
.b-library__add:hover {
  background-color: var(--primary);
}
.b-library__add .b-library__title {
  font-size: 18px;
}
.b-library__ic {
  fill: #fff;
  width: 64px;
  height: 64px;
}
.b-library__title {
  font-size: 16px;
  display: block;
  margin-top: 9px;
}
.b-library__item {
  width: 100%;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
}
.b-library__item:hover .b-library__title {
  transition: scale(1.05);
}
.b-library__img {
  border-radius: 9px;
  overflow: hidden;
  height: 190px;
}

.b-add-video {
  align-items: flex-end;
}
.b-add-video__submit {
  width: 145px;
  margin-bottom: -5px;
  padding: 8px 0.75rem;
  margin-left: 10px;
}

.b-video-tabs {
  margin-top: 28px;
}
.b-video-tabs .nav-tabs {
  margin-bottom: -4px;
}
.b-video-tabs .nav-link {
  padding-bottom: 8px;
}

.b-video {
  position: relative;
}
.b-video__info {
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.b-video__snap {
  width: 240px;
  display: flex;
  align-items: center;
  padding-left: 26px;
}
.b-video__snap .ic {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.b-video__text {
  margin-left: 25px;
  line-height: 1.4;
}
.b-video__labels {
  position: absolute;
  top: 10px;
  left: 11px;
  z-index: 10;
  cursor: default;
}
.b-video__labels .btn {
  transition: none;
  cursor: default;
  margin-bottom: 5px;
}

.b-video__labels .btn:hover {
  cursor: default;
  background-color: var(--primary);
  border-color: var(--primary);
}
.b-video-tabs .tab-pane {
  position: relative;
}
.b-video-tabs__container {
  max-height: 63vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.b-video-tabs__container::-webkit-scrollbar { width: 0; }

.b-video-tabs__container { -ms-overflow-style: none; }

.b-video-tabs__container { scrollbar-width: none; }

.b-video-tabs__scroll {
  position: absolute;
  top: -50px;
  right: 0;
  border-radius: 50%;
  background: transparent;
  border: none;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 3px;
}
.b-video-tabs__scroll:after {
  position: absolute;
  left: -16px;
  top: -15px;
  content: '';
  border-radius: 50%;
  background: #46a6ff;
  display: block;
  width: 70px;
  height: 70px;
  animation: animation-scroll 2s linear infinite both;
}
.b-video-tabs__scroll .ic {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  fill: #fff;
}

.b-video-top {
  height: 100%;
  background-color: #FFF;
  color: #000;
  border-radius: 6px;
  padding: 10px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.b-video-top .b-video__labels {
  position: static;
  margin-bottom: 20px;
}
.b-video-tabs__item:not(:last-child) {
  margin-bottom: 40px;
}
.b-video-top__title {
  margin-bottom: 4px;
}
.b-video-top__footer {
  text-align: center;
}
.b-video-top__btn {
  width: 128px;
  margin-top: 14px;
}
.b-video__wrap {
  border-radius: 6px;
  overflow: hidden;
}


.ui-label-animat {
  animation: animation-label .8s linear both;
}


@-webkit-keyframes animation-label {
    0% {
      transform: scale(0);
      opacity: 0
    }
    50% {
      opacity: 1;
      transform: scale(1.2)
    }
    80% {
      transform: scale(1)
    }
}
@-moz-keyframes animation-label {
    0% {
      transform: scale(0);
      opacity: 0
    }
    50% {
      opacity: 1;
      transform: scale(1.2)
    }
    80% {
      transform: scale(1)
    }
}
@keyframes animation-label {
    0% {
      transform: scale(0);
      opacity: 0
    }
    50% {
      opacity: 1;
      transform: scale(1.2)
    }
    80% {
      transform: scale(1)
    }
}



@-webkit-keyframes animation-scroll {
  0% {
    transform: scale(0);
    opacity: 1
  }
  50%,to {
    opacity: 0;
    transform: scale(1)
  }
}


/* ======= Media ======= */

@media (max-width:1199px) {
  .b-video-top {
    margin-top: 10px;
  }
  .b-video-tabs__container {
    max-height: 71vh;
  }
}

@media (max-width:991px) {
  .copyright {
    margin-top: 10px;
  }
  .b-main {
  }
  .b-video__text {
    display: none;
  }
  .b-video__info {
    justify-content: center;
  }
}
/* end 991px */

@media (max-width:767px) {
  .header-inner {
    padding-top: 8px;
    padding-bottom: 14px;
  }
  .header-inner .header-logo__img {
    height: 40px;
    width: 42px;
    margin-right: 7px;
  }
  .header-inner .header-logo {
    font-size: 22px;
  }
  .header-inner .header-user__img {
    height: 30px;
    width: 30px;
  }
  .ui-title {
    padding-top: 20px;
  }
  .ui-info {
    margin-bottom: 10px;
  }
  .b-main__title {
    font-size: 30px;
    margin-bottom: 21px;
  }
  .b-main__subtitle {
    font-size: 18px;
    line-height: 1.35;
    margin-bottom: 28px;
  }
  .b-main__info {
    font-size: 16px;
    line-height: 1.15;
    margin-bottom: 28px;
  }
  .b-category__list .btn {
    width: calc(50% - 10px);
  }
  .b-category__list .btn {
    width: calc(50% - 10px);
  }
  .b-category__save {
    display: block;
    width: 210px;
    margin: 3.5vh auto 0;
  }

  .footer {
    font-size: 12px;
    padding: 31px 0 12px;
    text-align: center;
  }
  .footer-links {
    font-size: 16px;
  }
  .footer-links li {
    margin-bottom: 3px;
  }
  .copyright {
    margin-top: 37px;
  }

  .modal-header {
  padding: 13px 19px 3px;
  }
  .modal-title {
  font-size: 24px;
  }
  .modal-header .btn-close {
  margin-top: -7px;
  }
  .modal-body {
  padding: 0 20px 44px;
  }
  .form-label {
    font-size: 14px;
  }
  .b-add-video__submit {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 33px;
  }
  .b-video__snap {
    width: 100%;
    justify-content: center;
  }
  .b-video__labels {
    left: 16px;
    top: 8px;
  }
  .b-video__labels .btn {
  margin-bottom: 0;
}
}
/* end 767px */

@media (max-width: 575px) {
  .b-library {
    margin-top: 0;
  }
  .b-library__add {
    height: auto;
    position: relative;
    padding: 5px 10px 16px 63px;
    margin-bottom: 11px;
  }
  .b-library__title {
    display: inline-block;
  }
  .b-library__ic {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 23px;
    top: 8px;
  }
  .b-library__img {
  height: 205px;
}
}
/* end 576px */

@media (max-width:374px) {
  .b-category__list .btn-long {
    font-size: 14px;
    order: 2;
    line-height: 1.98;
  }
}
